@font-face {
  font-family: 'MaruBuriBold';
  src: url('../assets/fonts/MaruBuri-Bold.woff2') format('woff2')
    url('../assets/fonts/MaruBuri-Bold.woff') format('woff');
  font-display: fallback;
}
